<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
<head>
    <meta charset="UTF-8">
    <title>GR Home</title>
    <link rel="stylesheet" href="/static/style.css">
    <style>
            .pagination-div{user-select: none;}
            .pagination-div span{border-radius:3px;border:1px solid #999;
            padding:5px;margin:10px 0px 0px 10px;display:inline-block}
            span.selected{background:#ccf;}
            .filter__product{ border:1px solid #000;margin-top: 8px; width: 50%;padding: 5px;}
    </style>
</head>
<body>
<header>
    <a href="/">Главная</a>
    <a href="/home">Каталог</a>
    <a href="/busket">Корзина</a>
    <a href="/users/profile">Мой профиль</a>
    <div sec:authorize="hasAuthority('ADMIN')">
        <a href="/users">Администраторам</a>
    </div>
    <div sec:authorize="isAuthenticated()">
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </div>

    <div sec:authorize="isAnonymous()">
        <a href="/login">Войти</a>
    </div>

</header>
    <h1>Топ всех продуктов из БД</h1>
<!--    <a href="/products/add">Добавить товар</a>-->

    <h2>Поиск продукта</h2>
    <form action="/home/search" method="post">
        <input  type="text" name="filter" th:value="${param.filter}">
        <button type="submit">Найти</button>
    </form>
    <div th:if="${message}">
        <p th:text="${message}"></p>
    </div>

    <div class="filter__product">
        <p>Фильтер продуктов</p>
        <form action="/home/filter" method="post">
            <input value = "Гигиена" type="checkbox" id="hygiene" name="filterProduct" ><label for="hygiene">Гигиена</label>
            <input value = "Книги" type="checkbox" id="books" name="filterProduct"><label for="books">Книги</label>
            <input value = "Игры" type="checkbox" id="games" name="filterProduct"><label for="games">Игры</label>
            <input value = "Сувениры" type="checkbox" id="souvenirs" name="filterProduct"><label for="souvenirs">Сувениры</label>
            <input value = "Электроника" type="checkbox" id="electronics" name="filterProduct"><label for="electronics">Электроника</label>

            <button type="submit">Применить</button>
        </form>
    </div>

    <div th:if="${page}">
        <div th:each="product : ${page.content}">
            <a th:href="'/home/' + ${product.id}"><span th:text="${product.producttitle}"> </span></a><br>
            <p>от продавца - <span th:text="${product.getSeller().getUsername()}"></span></p>
            <p>Категория - <span th:text="${product.getCategory()}"></span></p>
            <p>Стоимость: <span th:text="${product.getPrice()}"></span></p>
<!--            <p>Описание: <p th:text="${product.getDescription()}"></p></p>-->
            <p>Рейтинг: <span th:text="${product.getRaiting()}"></span></p>
            <p>Количество на складе: <span th:text="${product.getCount()}"></span></p>
            <div th:if="${product.filename}">
                <a th:href="'/home/' + ${product.id}"><img th:src="@{/img/{path} (path = ${product.getFilename()})}"></a><br>
<!--                <img th:src="@{/img/{path} (path = ${product.getFilename()})}">-->
            </div>
<!--            <a th:href="'/home/' + ${product.id} + '/edit'">Редактировать</a><br>-->
            <hr>
        </div>
    </div>

    <div th:if="${page}">
        <div class="pagination-div">
            <span th:if="${page.hasPrevious()}">
                <a th:href="@{/home(page=${page.number-1},size=${page.size})}">Previous</a>
            </span>
            <th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
                <span th:if="${page.number == i}" class="selected">[[${i}+1]]</span>
                <span th:unless="${page.number == i}">
                     <a th:href="@{/home(page=${i},size=${page.size})}">[[${i}+1]]</a>
                </span>
            </th:block>
            <span th:if="${page.hasNext()}">
                <a th:href="@{/home(page=${page.number+1},size=${page.size})}">Next</a>
            </span>
        </div>
    </div>

</body>
</html>