<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GR Home</title>
    <link rel="stylesheet" href="/static/style.css">
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">-->
    <style>
            .pagination-div{user-select: none;}
            .pagination-div span{border-radius:3px;border:1px solid #999;
            padding:5px;margin:10px 0px 0px 10px;display:inline-block}
            span.selected{background:#ccf;}
    </style>
</head>
<body>
<header>
    <a>Главная</a>
    <a>Избранное</a>
    <a>Корзина</a>
    <a>Друзья</a>
    <a>Авторизация</a>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</header>
    <h1>Топ всех продуктов из БД</h1>
    <a href="/products/add">Добавить товар</a>
    <h2>Поиск продукта</h2>
    <form action="/home/search" method="post">
        <input  type="text" name="filter" th:value="${param.filter}">
        <button type="submit">Найти</button>
    </form>
    <div th:if="${message}">
        <p th:text="${message}"></p>
    </div>
    <div th:if="${page}">
        <div th:each="product : ${page.content}">
<!--            <p><a th:text="${product.producttitle}"></a></p>-->
            <a th:href="'/home/' + ${product.id}"><span th:text="${product.producttitle}"> </span></a><br>
            <p>от продавца - <span th:text="${product.getSeller().getUsername()}"></span></p>
            <p>Стоимость: <span th:text="${product.getPrice()}"></span></p>
<!--            <p>Описание: <p th:text="${product.getDescription()}"></p></p>-->
            <p>Рейтинг: <span th:text="${product.getRaiting()}"></span></p>
            <p>Количество на складе: <span th:text="${product.getCount()}"></span></p>
            <div th:if="${product.filename}">
                <a th:href="'/home/' + ${product.id}"><img th:src="@{/img/{path} (path = ${product.getFilename()})}"></a><br>
<!--                <img th:src="@{/img/{path} (path = ${product.getFilename()})}">-->
            </div>
<!--            <a th:href="'/home/' + ${product.id} + '/edit'">Редактировать</a><br>-->
            <hr>
        </div>
    </div>

    <div th:if="${page}">
        <div class="pagination-div">
            <span th:if="${page.hasPrevious()}">
                <a th:href="@{/home(page=${page.number-1},size=${page.size})}">Previous</a>
            </span>
            <th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
                <span th:if="${page.number == i}" class="selected">[[${i}+1]]</span>
                <span th:unless="${page.number == i}">
                     <a th:href="@{/home(page=${i},size=${page.size})}">[[${i}+1]]</a>
                </span>
            </th:block>
            <span th:if="${page.hasNext()}">
                <a th:href="@{/home(page=${page.number+1},size=${page.size})}">Next</a>
            </span>
        </div>
    </div>

</body>
</html>