<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Login </title>
</head>
<body>
<h5 th:text="${username}"></h5>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<div th:if="${message}">
    <p th:text="${message}"></p>
</div>
<form th:action="@{/users/profile}" method="post">
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><label> email: <input type="email" name="email"/> </label></div>
    <button type="submit">Сохранить</button>
</form>
</body>
</html>